.video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

/* Estilo para el contenido para asegurar legibilidad */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    background: rgba(0, 0, 0, 0.6);
}

header, nav, main, footer {
    position: relative;
    z-index: 1;
    padding: 20px;
}

header {
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    padding: 20px 0;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px 20px;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: black;
    color: #0ef;
}

section {
    margin: 20px 0;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
}

footer {
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    padding: 10px 0;
}

header h1 {
    color: red;
    font-family: "Victor Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}


.pepecolumnxd {
    display: flex;
    flex-direction: column;
}

.pepenormal {
    display: flex;
}

section {
    display: flex;
}

img {
    width: 200px;
}

.pepe {
    width: 300px;
}

h2 {
    color: #0ef;
}


a {
  text-decoration: none;
}
